<h4>Your Bookmarked Events!</h4>
{{#each bookmarks.bookmarkList as |event|}}
  <ul>
    {{#link-to 'event' event.id}}{{event.name}}: {{format-date event}}{{/link-to}}
    <button {{action 'removeFromBookmarks' event}}>Remove from Bookmarks</button>
  </ul>
{{/each}}
