<div class="item-header"><h1>{{event.name}}</h1>
</div>
<table>
  <tbody>
    <tr>
      <td class="item-date"><h2>{{format-date event}}</h2></td>
      <td class="item-info">
        <p>{{event.description}}</p>
        <p>{{event.author}}</p>
      </td>
    </tr>
  </tbody>
</table>
