@import 'ember-cli-materialize';
@import 'materialize';
// Variables
$primary-color: #191919;
$bronze: #594d46;

$small-breakpoint: 660px;
$medium-breakpoint: 720px;

// Mixins

@mixin item-border {
  border: 2px solid $primary-color;
}

// Base Styles
body {
  font-family: 'Roboto Mono';
}

ul {
  list-style: none;
  padding-left: 0;
}

.navRoutes {
  position: center;
  display: inline;
  color: white;
}

a {
  text-decoration: none;
  color: $primary-color;
  &:hover {
    text-decoration: none;
    color: $bronze;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr {
    width: 100%;
  }
}

button {
  padding: 6px 12px;
    margin: 10px 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

// Layout & Containers

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.map-display {
    height: 600px;
    width: 100%;
  }

// Navbar

.navigation {
  background-color: #eee;
}

.is-sticky {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

.navLinks {
  padding-bottom: 3em;
  margin-top: -2em;
  float: right;
  padding-right: 1em;
  font-weight: bold;
}

.jumbotron {
  background-image: url('/assets/img/flight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb{
  background-color: #eee;
}

.signOutBtn {
  cursor: pointer;
}

// Header and Hero styling
.logo-main {
  width: 275px;
}

// Footer
.page-footer {
  //position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background-color: #fff;
  padding-top: 5px;
}

// Event items

.events-list li {
  margin: 20px 0;
  @include item-border;
  .item-header {
    text-transform: capitalize;
    text-align: center;
    border-bottom: 3px solid $primary-color;
    h1 {
      margin: 5px 0;
      padding: 3px;
    }
  }
  .item-date {
    width: 40%;
    min-width: 118px;
    height: 100%;
    margin: 0;
    padding: 5px;
    border-right: 1px solid $primary-color;
    position: relative;
    @media screen and (min-width: $medium-breakpoint) {
      width: 20%;
      padding: 5px;
    }
    .month, .year {
      font-size: 1.4em;
      letter-spacing: 3px;
      -webkit-transform:scale(1,1.1); /* Safari and Chrome */
      -moz-transform:scale(1,1.1); /* Firefox */
      -ms-transform:scale(1,1.1); /* IE 9 */
      -o-transform:scale(1,1.1); /* Opera */
      @media screen and (min-width: $medium-breakpoint) {
        font-size: 1.8em;
      }
    }
    .day {
      font-size: 3em;
      font-weight: 700;
      letter-spacing: -4px;
      @media screen and (min-width: $medium-breakpoint) {
        font-size: 3.5em;
      }
    }
    .year {
      @media screen and (min-width: $small-breakpoint) {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: absolute;
        left: -10px;
        top: 35px;
      }
    }
  }
  .item-info {
    margin: 0;
    padding: 15px;
    width: 60%;
    text-align: left;
    @media screen and (min-width: $medium-breakpoint) {
      width: 80%;
      padding: 10px;
    }
  }
}

.hover-view {
  display: none;
}

li:hover .hover-view {
  display: inline-block;
}

li:hover .header-title {
  display: none;
}

.eventDescription{
  height: 100px;
}

// Page specific styles

// Admin Page
.adminImageDisplay {
  height: 200px;
  width: 200px;
}

// About Page

.aboutPhotos {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
}
