.aboutPhotos {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.adminImageDisplay {
  height: 200px;
  width: 200px;
}

.navLinks {
  padding-bottom: 3em;
  margin-top: -2em;
  float: right;
  padding-right: 1em;
  font-weight: bold;
}


.page-footer {
  position: fixed;
  text-align: center;
  font-weight: 200;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
}

body {
  font-family: 'Roboto Mono';
}
