<h1>About Beer Event Finder</h1>
  <br>
<p>This is a web app designed to help beer lovers find beer events near their area! Users will be able to bookmark events that I want to attend or keep track of for future use.</p>

  <hr>

<h2>About the Developers</h2>
<div class="row">
  <div class="col-sm-6">
    <img class="aboutPhotos" src="/assets/img/yvonna.jpg" alt="Yvonna Contreras" />
    <h4><a href="https://www.linkedin.com/in/yvonnacontreras">Yvonna Contreras</a></h4>
    <p>Yvonna studies Web Development at Epicodus in Portland, OR. Aside from coding, you can find her hiking, photographing, or paying a visit to a local coffee shop!</p>
  </div>

  <div class="col-sm-6">
    <img class="aboutPhotos" src="/assets/img/erik.jpg" alt="Erik Tolentino" />
    <h4><a href="https://www.linkedin.com/in/eriktolentino">Erik Tolentino</a></h4>
    <p>Erik is a future web developer currently dabbling in the realms of PHP, JavaScript and Drupal. He loves food, watching sports, hanging out with his corgi, and enjoying the outdoors. Click his name to view his LinkedIn!</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <img class="aboutPhotos" src="/assets/img/jess.jpg" alt="Jess Guilford" />
    <h4><a href="https://www.linkedin.com/in/jessie-guilford-288a285a">Jess Guilford</a></h4>
    <p>Jess is a front end development student at Epicodus, studying CSS, Sass, and JavaScript.</p>
  </div>

  <div class="col-sm-6">
    <img class="aboutPhotos" src="/assets/img/jared.jpg" alt="Jared Beckler" />
    <h4><a href="https://www.linkedin.com/in/jaredbeckler">Jared Beckler</a></h4>
    <p>Jared is a 25-year-old programming student attending Epicodus in Portland, Oregon. Having grown up in Portland for the majority of his life, Jared enjoys spending time outside hiking, biking, or BBQing with friends.</p>
  </div>
</div>
