<div class="wrapper">
  <div class="jumbotron text-center">
    {{sticky-header session=session}}

    <img src="assets/img/growler-text2.svg" class="logo-main">
    <!-- <h1>Beer Event Finder</h1> -->

      <br>
      <br>
    <p class="jumbotronText">Find New Events, Discover New Beers</p>

    {{#if session.isAuthenticated}}
    <div class='panel panel-default'>
      <div class='panel-heading'>Welcome, {{session.currentUser.email}}</div>
    </div>
    {{/if}}
  </div>

  <div class="container text-center">
    {{liquid-outlet}}
  </div>
    <br>
    <br>
  <div class="page-footer text-center">
    <p>Copyright &copy; 2016 | {{#link-to 'admin'}}Admin{{/link-to}} | {{#link-to 'about'}}About{{/link-to}} | Portland, OR</p>

  </div>
</div>
