{{event-detail event=model session=session}}

{{new-comment event=model comment=comment saveComment="saveComment"}}

<div>
  {{#each model.comments as |comment|}}
    {{comment-display comment=comment}}
  {{/each}}
</div>
